RatingReviewEngine.UI/App_WebReferences/MichaelHill/RatingReviewEngineAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RatingReviewEngineAPI" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:19406/RatingReviewEngineAPI.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:19406/RatingReviewEngineAPI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:19406/RatingReviewEngineAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RatingReviewEngine.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRatingReviewEngineAPI_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IRatingReviewEngineAPI_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IRatingReviewEngineAPI_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="IRatingReviewEngineAPI_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IRatingReviewEngineAPI_RegisterAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterAccount" />
  </wsdl:message>
  <wsdl:message name="IRatingReviewEngineAPI_RegisterAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IRatingReviewEngineAPI_CheckValidUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckValidUserID" />
  </wsdl:message>
  <wsdl:message name="IRatingReviewEngineAPI_CheckValidUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckValidUserIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IRatingReviewEngineAPI">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IRatingReviewEngineAPI/Login" message="tns:IRatingReviewEngineAPI_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRatingReviewEngineAPI/LoginResponse" message="tns:IRatingReviewEngineAPI_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IRatingReviewEngineAPI/UserLogin" message="tns:IRatingReviewEngineAPI_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRatingReviewEngineAPI/UserLoginResponse" message="tns:IRatingReviewEngineAPI_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IRatingReviewEngineAPI/RegisterAccount" message="tns:IRatingReviewEngineAPI_RegisterAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRatingReviewEngineAPI/RegisterAccountResponse" message="tns:IRatingReviewEngineAPI_RegisterAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckValidUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/IRatingReviewEngineAPI/CheckValidUserID" message="tns:IRatingReviewEngineAPI_CheckValidUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRatingReviewEngineAPI/CheckValidUserIDResponse" message="tns:IRatingReviewEngineAPI_CheckValidUserID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRatingReviewEngineAPI" type="tns:IRatingReviewEngineAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IRatingReviewEngineAPI/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/IRatingReviewEngineAPI/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterAccount">
      <soap:operation soapAction="http://tempuri.org/IRatingReviewEngineAPI/RegisterAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckValidUserID">
      <soap:operation soapAction="http://tempuri.org/IRatingReviewEngineAPI/CheckValidUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RatingReviewEngineAPI">
    <wsdl:port name="BasicHttpBinding_IRatingReviewEngineAPI" binding="tns:BasicHttpBinding_IRatingReviewEngineAPI">
      <soap:address location="http://localhost:19406/RatingReviewEngineAPI.svc/soapService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>